.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.main-content {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 70px;
  margin-bottom: 0;
}

/* PC版用の調整 */
@media (min-width: 769px) {
  .main-content {
    padding-bottom: 80px;
  }
}
